<!DOCTYPE html>
<html>
<head>
    <title>Where Everyone Lives</title>
</head>
<body>
    <h1>Where Everyone Lives</h1>

    {{#house}}
    <ul>
        <li>Patrick lives under a {{Patrick}}.</li>
        <li>SpongeBob lives in a {{SpongeBob}}.</li>
        <li>Sandy lives in a {{Sandy}}.</li>
    </ul>
    {{/house}}

</body>
</html>